# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Insert Date'
      'command': 'insert-date:current-editor'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Insert Date'
      'submenu': [
        {
          'label': 'Current Editor'
          'command': 'insert-date:current-editor'
        }
      ]
    ]
  }
]
